@font-face {
    font-family: titleFont;
    src: url("../res/Dalek.ttf");
}

body {
    /* Website background color*/
    background-color: #df915e;
}
h1 {
    font-family: 'Dalek', serif;
    color: #b22222;
    size: 30px;
}

/* Background Scroll values*/
.scroll{
    background-image: url("../res/scrollSide.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 85rem;
    height: 58rem;
    position:relative;
}
/* Logo values*/
.logo{
    position: relative;
   text-align: center;
    top:20%;
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

/* Logo image values*/
.logo img{
    position: center;
    width: 100%;
}
/* Index and startgame.jsp menu*/
.menu{
    text-align: center;
    position: absolute;
    top:38%;
    left: 25%;
    font-family: titleFont;
    font-size: 250%;
    color:#B0A5A4;
    width: 50%;
}
/*Index.jsp Username input values*/
.un input{
    font-family: titleFont;
    text-align: center;
    font-size: 50%;
    color:#b22222;
    background-color: #f7e5b7;
}

/*Index.jsp Change fighter values*/
.cf select{
    font-family: titleFont;
    text-align: center;
    font-size: 50%;
    color: #b22222;
    background-color: #f7e5b7;
}

/*Index.jsp Start button values*/
.Start input{
   position: relative;
   width: 25%;
    text-align: center;
    margin-top: 5%;
}

/*startGame.jsp Create new game paragraph values*/
.create p{
    font-size: 2rem;
}

/*startGame.jsp Create new game input values*/
.create input{
    position: relative;
    width: 35%;
}
/*startGame.jsp game id input values*/
.id input{
    position: relative;
    font-family: titleFont;
    text-align: center;
    font-size: 50%;
    color:#b22222;
    background-color: #f7e5b7;
    width: 35%;
}

/*startGame.jsp game id values*/
.id{
    position: relative;
    bottom:3rem;

}

/*startGame.jsp Join game input values*/
.join input{
    position: relative;
    bottom:3rem;
    width: 35%;
    text-align: center;
}

/*createdGame.jsp menu values*/
.Cmenu{
    top:15rem;
    text-align: center;
    position: absolute;
    left: 25%;
    font-family: titleFont;
    font-size: 2.5rem;
    color:#B0A5A4;
    width: 50%;
}

/*createdGame.jsp menu paragraph values*/
.Cmenu p{
    font-size:2rem;
}

/*gameReady.jsp background scroll values*/
.wbs{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 190vh;
    height: 100vh;
    z-index: 1;
}

/*gameReady.jsp background scroll image values*/
.wbs img{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*gameReady.jsp background scroll values*/
.bs{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 190vh;
    height: 100vh;
    z-index: 1;
}
.bs input{
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Dalek;
    font-size:15px;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
/*gameReady.jsp background scroll image values*/
.bs img{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*gameReady.jsp grid values*/
.readygrid{
    position: relative;
    height: 100vh;
    z-index: 2;
    display: grid;
    grid-template-columns: 2.3fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr  1fr 2.3fr;
    grid-template-rows:1.3fr 1fr 1fr 1fr 1fr 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1.3fr;
    grid-template-areas:
            ". . . . . . . . . . . . . ."
            ". pn pn pn pn pn . . on on on on on ."
            ". pc pc pc pc pc . . oc oc oc oc oc ."
            ". pc pc pc pc pc . . oc oc oc oc oc ."
            ". pc pc pc pc pc vs vs oc oc oc oc oc ."
            ". pc pc pc pc pc vs vs oc oc oc oc oc ."
            ". pc pc pc pc pc vs vs oc oc oc oc oc ."
            ". pc pc pc pc pc . . oc oc oc oc oc ."
            ". pc pc pc pc pc . . oc oc oc oc oc ."
            ". . . . . . rdy rdy . . . . . ."
            ". . . . . . rdy rdy . . . . . ."
            ". . . . . . . . . . . . . ."
;
 }

/*gameReady.jsp player and fighter name values*/
.pname{
    z-index: 2;
 grid-area: pn;
    text-align: center;
    align-self: end;
    font-family: titleFont;
    font-size: 2rem;
    color:#B0A5A4;
}

/*gameReady.jsp opponent and fighter name values*/
.oname{
    z-index: 2;
    grid-area: on;
    text-align: center;
    align-self: end;
    font-family: titleFont;
    font-size: 2rem;
    color:#B0A5A4;
}

/*gameReady.jsp player card values*/
.pcard{
    background-position: center top;
    grid-area: pc;
    z-index: 2;
    background-image: url("../res/Created Game copy.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/*gameReady.jsp opponent card values*/
.ocard{
    background-position: center;
    grid-area: oc;
    z-index: 2;
    background-image: url("../res/Created Game copy.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/*gameReady.jsp versus circle values*/
.vers{
    grid-area: vs;
    z-index: 2;
    background-position: center;
    background-image: url("../res/VS.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/*gameReady.jsp Ready values*/
.ready{
    grid-area: rdy;
    z-index: 4;
    width: 100%;
    height: 50%;
}

/*gameReady.jsp Ready input values*/
.ready input{
    width: 100%;
    height: 100%;
}

/*gameAction.jsp grid values*/
.fightgrid{
    position: relative;
    height: 100vh;
    z-index: 2;
    display: grid;
    grid-template-columns: 2.3fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr  1fr 2.3fr;
    grid-template-rows:1.3fr 1fr 1fr 1fr 1fr 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1.3fr;
    grid-template-areas:
    ". . . . . . . . . . . . . ."
    ". fpn fpn fpn fpn fpn . . fon fon fon fon fon ."
    ". pc pc pc pc pc oa oa oc oc oc oc oc ."
    ". pc pc pc pc pc oa oa oc oc oc oc oc ."
    ". pc pc pc pc pc vs vs oc oc oc oc oc ."
    ". pc pc pc pc pc vs vs oc oc oc oc oc ."
    ". pc pc pc pc pc vs vs oc oc oc oc oc ."
    ". pc pc pc pc pc w w oc oc oc oc oc ."
    ". pc pc pc pc pc en en oc oc oc oc oc ."
    ". atc1 atc1 atc1 atc2 atc2 atc2 atc3 atc3 atc3 atc4 atc4 atc4 ."
    ". atc1s atc1s atc1s atc2s atc2s atc2s atc3s atc3s atc3s atc4s atc4s atc4s ."
    ". . . . . . . . . . . . . ."
    ;
}

/*gameAction.jsp/gameWait.jsp Player, fighter, gold and life values*/
.fpname{
    grid-area: fpn;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 2em;
    color:#B0A5A4;
}
/*gameAction.jsp/gameWait.jsp Player image values*/
.pimg {
    grid-column: 3/span 5;
    grid-row: 4/span 6;
    z-index: 4;
    width: 16em;
    height: 10rem;
}
.pimg img{
    display: block;
    width: 14%;
    height: 19%;
    object-fit: contain;
}

/*gameAction.jsp/gameWait.jsp Player, fighter stats values*/
.pstats{
    font-family: titleFont;
    color: #75706D;
    position: relative;
    font-size: 1.5rem;
    z-index: 3;
    grid-column: 3/span 5;
    grid-row: 7/span 8;
}

/*gameAction.jsp makes text with mark tag in html green*/
mark.green{
    color: green;
    background: none;
}

/*gameAction.jsp makes text with mark tag in html yellow*/
mark.yellow{
    color: goldenrod;
    background: none;
}

/*gameAction.jsp makes text with mark tag in html red*/
mark.red{
    color: red;
    background: none;
}

/*gameAction.jsp makes text with mark tag in html blue*/
mark.blue{
    color: deepskyblue;
    background: none;
}

/*gameAction.jsp makes text with mark tag in html orange*/
mark.orange{
    color: orange;
    background: none;
}

/*gameAction.jsp makes text with mark tag in html purple*/
mark.purple{
    color: purple;
    background: none;
}

/*gameAction.jsp first attack button values*/
.atc1{
   align-self: end;
    und-image: url("../res/Empty Input.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: atc1;
    z-index: 5;
    text-align: center;
}

/*gameAction.jsp first attack button stats values*/
.atc1stat{
    text-align: center;
   grid-area: atc1s;
    z-index: 5;
}

/*gameAction.jsp second attack button values*/
.atc2{
    align-self: end;
    und-image: url("../res/Empty Input.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: atc2;
    z-index: 5;
    text-align: center;
}

/*gameAction.jsp second attack button stats values*/
.atc2stat{
    text-align: center;
    grid-area: atc2s;
    z-index: 5;
}

/*gameAction.jsp third attack button values*/
.atc3{
    align-self: end;
    und-image: url("../res/Empty Input.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: atc3;
    z-index: 5;
    text-align: center;
}

/*gameAction.jsp third attack button stats values*/
.atc3stat{
    text-align: center;
    grid-area: atc3s;
    z-index: 5;
}

/*gameAction.jsp fourth attack button values*/
.atc4{
    align-self: end;
    und-image: url("../res/Empty Input.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: atc4;
    z-index: 5;
    text-align: center;
}

/*gameAction.jsp fourth attack button stats values*/
.atc4stat{
    text-align: center;
    grid-area: atc4s;
    z-index: 5;
}

/*gameAction.jsp text that pops up when you dont have enough energy to use an attack values*/
.noenergy{
    grid-area: en;
    text-align: center;
    z-index: 3
}

/*gameAction.jsp/gameWait.jsp text that says opponents last used ability and if he got a critical hit values*/
.oability{
    grid-area: oa;
    text-align: center;
    z-index: 3
}

/*gameAction.jsp/gameWait.jsp Player, fighter name values*/
.foname{
    grid-area: fon;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 2em;
    color:#B0A5A4;
}

/*gameAction.jsp/gameWait.jsp Player image values*/
.oimg {
    grid-column: 10/span 12;
    grid-row: 4/span 6;
    z-index: 4;
    width: 16em;
    height: 10rem;
}
.oimg img{
    display: block;
    width: 14%;
    height: 19%;
    object-fit: contain;
}

/*gameAction.jsp/gameWait.jsp  opponent, fighter stats values*/
.ostats{
    font-family: titleFont;
    color: #75706D;
    font-size: 1.5rem;
    z-index: 3;
    grid-column: 10/span 12;
    grid-row: 7/span 8;

}

/*gameWait.jsp wait button values*/
.wait{align-self: end;
    text-align: center;
 grid-area: w;
    z-index: 5;
}

/*fightOver.jsp, mysteryChest.jsp mysteryChestGold.jsp, mysteryChestItem.jsp centers and adjust values*/
.fotext{
    top: 32%;
    position: relative;
    font-family: titleFont;
    font-size: 2rem;
    color: #75706D;
    text-align: center;
    z-index: 2;
}

/*store.jsp Grid values*/
.storegrid{
    position: relative;
    height: 100vh;
    z-index: 2;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1.4fr;
    grid-template-rows:1.2fr 1fr 1fr 1fr 1fr 1fr 0.4fr;
    grid-template-areas:
            ". . . . . . . ."
            ". . . t t . . ."
            ". . . g g . . ."
            ". i1 i2 i3 i4 i5 i6 ."
            ". i7 i8 i9 i10 i11 i12 ."
            ". . . . . . . ."
            ". . . . . . . ."
;
}
/*store.jsp title values*/
.title{
    text-align: end;
    grid-area: t;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1.5rem;
}
/*store.jsp information about player gold amount values*/
.gold{
    grid-area: g;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
    color:#B0A5A4;
}

/*store.jsp under here are all the store items values*/
.item1{
    grid-area: i1;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item2{
    grid-area: i2;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item3{
    grid-area: i3;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item4{
     grid-area: i4;
     z-index: 3;
     text-align: center;
     font-family: titleFont;
     font-size: 1rem;

 }
.item5{
    grid-area: i5;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item6{
    grid-area: i6;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item7{
    grid-area: i7;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item8{
    grid-area: i8;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item9{
    grid-area: i9;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item10{
    grid-area: i10;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item11{
    grid-area: i11;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size: 1rem;
}
.item12{
    grid-area: i12;
    z-index: 3;
    text-align: center;
    font-family: titleFont;
    font-size:1rem;
}

/*fightOver.jsp grid values*/
.winnergrid{
    position: relative;
    height: 100vh;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:
            ". . ."
            ". w ."
            ". . .";
}
.winner{
    grid-area: w;
    text-align: center;
    font-family: titleFont;
    color: #B0A5A4;

}
. winner font{
    font-size: 3em;
}
